.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.342);
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.address-radio-btn {
  width: 16px;
  height: 16px;
}
